// banner
.banner{
    background-image: url('../images/photo-1588159343745-445ae0b16383.png');
    height: 480px;
    @include media-breakpoint-up(sm){
        height: 600px;
    }
    @include media-breakpoint-up(md){
        background-image: url('../images/photo-1588159343745-445ae0b16383@2x.png');
        height: 870px;
    }
}
.title{
    font-size: $font-size-base*2;
    @include media-breakpoint-up(md){
        font-size: $font-size-base*2.5;
    }
}
.description{
    font-size: $font-size-lg;
    @include media-breakpoint-up(md){
        font-size: $h4-font-size;
    }
}
.btn-shop{
    display: block;
    font-size: $font-size-base*1.75;
    border-color: #fff;
    border-radius: 30px;
    color: white;
    &:hover{
        background-color: rgba(255,255,255,0.5);
        color: $primary;
    }
    @include media-breakpoint-up(md){
        width: 75%;
    }
}
// 產品介紹
.description-product{
    @include media-breakpoint-up(md){
        white-space: pre-line;
    }
    @include media-breakpoint-up(lg){
        white-space: pre-line;
        font-size: $font-size-lg;
    }
}
.btn-free-training{
    display: block;
    font-size: $font-size-lg;
    border: 2px $black solid;
    border-radius: 30px;
    color: $black;
    width: 100%;
    &:hover{
        color: $primary;
        border-color: $primary;
    }
}
//產品販售
.origin-price{
    text-decoration: line-through;
}
.sold-out{
    position: relative;
}
.sold-out::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.sold-out span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// 容器回收
.bottle-recycle-img{
    height: 520px;
    object-fit: cover;
}
// 訂閱
.subscription{
    height: 600px;
    background-image: url('./../images/suscrption-bg.png');
    padding-bottom: 112px; 
}
.input-subscription{
    padding-top: 29px;
    padding-bottom: 29px;
}
.input-group-append-subscription{
    width: 37%;
} 
.input-group-text-subscription{
    padding-top: 17px;
    padding-bottom: 17px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    &:hover{
       background-color: darken($primary,10%);
       color: $white;
    }
}