// navbar
.user-nav-link{
    display: inline-block;
    border-bottom: 2px solid transparent;
    color: $gray-700;
    &:hover{
        border-bottom: 2px solid $primary;
    }
}
.user-form-title{
    border-bottom: 1px solid $gray-500;
}
.user-input-border{
    border-color: $gray-200;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}
.user-custom-select{
    background-image: url('./../images/sort-down-solid.svg');
    background-position: right 4% center;
    background-repeat: no-repeat;
    color: $gray-500;
    background-size: 6px;
    appearance: none;
}
/* Customize the label (the container) */
.label-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: $font-size-sm;
  }
  
  /* Hide the browser's default checkbox */
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    border: 1px solid $gray-500;
    background-color: $white;
    border-radius: 3px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $primary;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
  }

  // submit button
  .w-submit{
    width: 60%;
    @include media-breakpoint-up(lg){
       width: 50%;
    }
  }