.navbar-outer{
    border: 2px solid #eee;
    position: relative;
}
.navbar{
    @include media-breakpoint-up(sm){
        justify-content: center;
    }
    @include media-breakpoint-up(md){
        justify-content: space-between;
    }
}
.logo{
    background-image: url('../images/d’Perfume.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 56px;
    display: block;
}
.material-icons{
    color: #C6C6C6;
}
.shopping-cart{
    position: relative;
}
.shopping-cart::after{
    content: "3";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #916000;
    font-size: 12px;
    position: absolute;
    right: -6px;
    top: -4px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.shopping-cart-sm{
    display: none;
    @include media-breakpoint-up(sm){
        display: block;
    }
}
a.hamburger-menu{
    font-size: 56px;
}
.menu-item{
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: #707070;
    font-size: $h5-font-size;
    @include media-breakpoint-up(sm){
        background-color: #fff;
        color: #8D8D8D;
    }
}
.menu-item-sm-none{
    @include media-breakpoint-up(sm){
        display: none;
    }
}
.menu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
    @include media-breakpoint-up(sm){
        position: static;
    }
}
.menu .fas{
    display: none;
    @include media-breakpoint-up(sm){
        display: inline-block;
    }
}

.footer-logo{
    width: 128px;
    height: 38px;
    background-image: url('../images/d’Perfumew.png');
}
@media (max-width: 374px){
    .footer-logo{
        width: 85px;
        background-size: contain;
    }
}
.footer-link{
    color: white;
}
